/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../image/images/overlay.png) repeat 0 0; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(../image/images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../image/images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../image/images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../image/images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../image/images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../image/images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../image/images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../image/images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../image/images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../image/images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../image/images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
table th, table td {font-size:14px;}
.searchFilter {float:left; width:100%; background:#f1f1f1; border-top:0px solid #ddd; padding:5px 0; border-bottom:1px solid #ddd;}
.box-body > table {table-layout:fixed;}
.ip-chart {padding:20px 0;}
.ip-btn-group {position:absolute; right:0px; top:20px;}
.pos-rel {position:relative;}
.col {float:left; width:100%;}
.empty-row {height:10px;}
.empty-row1 {display:none; height:1px; line-height:1px;}
#colorbox, .no-print {display:none;}
form {margin:0px;}

.p0 {padding:0px;}
.pt20 {padding-top:20px;}
.pb20 {padding-bottom:20px;}
.pt10 {padding-top:10px;}
.pb10 {padding-bottom:0px;}
.nav-tabs>li>a:hover, .nav-tabs>li>a {background:#3c8dbc; color:#fff; margin-right:5px; transition:all 0.3s ease;}
.table {margin:20px 0;}
.cus-table-responsive {float:left;width:100%;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {padding:3px 5px; vertical-align:middle; line-height:20px;}



.deactive {
  background: #f02850;
  background-image: -webkit-linear-gradient(top, #f02850, #f22469);
  background-image: -moz-linear-gradient(top, #f02850, #f22469);
  background-image: -ms-linear-gradient(top, #f02850, #f22469);
  background-image: -o-linear-gradient(top, #f02850, #f22469);
  background-image: linear-gradient(to bottom, #f02850, #f22469);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
}

.deactive:hover {
  background: #fa8989;
  background-image: -webkit-linear-gradient(top, #fa8989, #ff7d7d);
  background-image: -moz-linear-gradient(top, #fa8989, #ff7d7d);
  background-image: -ms-linear-gradient(top, #fa8989, #ff7d7d);
  background-image: -o-linear-gradient(top, #fa8989, #ff7d7d);
  background-image: linear-gradient(to bottom, #fa8989, #ff7d7d);
  text-decoration: none;
}




.active_btn {
  background: #3fcc7c;
  background-image: -webkit-linear-gradient(top, #3fcc7c, #3fcc7c);
  background-image: -moz-linear-gradient(top, #3fcc7c, #3fcc7c);
  background-image: -ms-linear-gradient(top, #3fcc7c, #3fcc7c);
  background-image: -o-linear-gradient(top, #3fcc7c, #3fcc7c);
  background-image: linear-gradient(to bottom, #3fcc7c, #3fcc7c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 2px 20px 2px 20px;
  text-decoration: none;
}

.active_btn:hover {
  background: #89faba;
  background-image: -webkit-linear-gradient(top, #89faba, #89faba);
  background-image: -moz-linear-gradient(top, #89faba, #89faba);
  background-image: -ms-linear-gradient(top, #89faba, #89faba);
  background-image: -o-linear-gradient(top, #89faba, #89faba);
  background-image: linear-gradient(to bottom, #89faba, #89faba);
  text-decoration: none;
}



.add_alarm {
  background: #994D54;
  background-image: -webkit-linear-gradient(top, #994D54, #994D54);
  background-image: -moz-linear-gradient(top, #994D54, #994D54);
  background-image: -ms-linear-gradient(top, #994D54, #994D54);
  background-image: -o-linear-gradient(top, #994D54, #994D54);
  background-image: linear-gradient(to bottom, #994D54, #994D54);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 2px 40px 2px 40px;
  text-decoration: none;
}

.add_alarm:hover {
  background: #BF8187;
  background-image: -webkit-linear-gradient(top, #BF8187, #BF8187);
  background-image: -moz-linear-gradient(top, #BF8187, #BF8187);
  background-image: -ms-linear-gradient(top, #BF8187, #BF8187);
  background-image: -o-linear-gradient(top, #BF8187, #BF8187);
  background-image: linear-gradient(to bottom, #BF8187, #BF8187);
  text-decoration: none;
}

